<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
      <form [formGroup]="produtoForm" (ngSubmit)="formSubmit()">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-input formControlName="tipo" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Preço</ion-label>
          <ion-input formControlName="preco" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quantidade</ion-label>
          <ion-input formControlName="quantidade" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Medida</ion-label>
          <ion-input formControlName="medida" type="text" required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Imagem</ion-label>
          <ion-input formControlName="imagem" type="text" required>
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" shape="full" expand="block">SALVAR</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>

  <ion-list class="ios list-ios hydrated">
    <ion-item *ngFor="let produto of Produtos" class="user-list">
      <ion-label>
        <img src="{{ produto.imagem }}" width="20" height="20"> {{produto.nome}}
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/editar-produto/', produto.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteProduto(produto.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
